<h2>Welcome <%= @user.name.titleize %></h2>

<p>
Hello new user <%= @user.name %> to our Odin Facebook App. Hope our app get you impress. <br>
For any information contact us at: <br>
<b>odin-facebook@example.com<b>
</p>